In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#设置绘图大小
plt.style.use({'figure.figsize':(25,20)})

#解决中文乱码问题
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False
dt=pd.read_csv('C:\\Users\\asus\\Desktop\\US_Accidents_Dec20_Updated.csv')
dt = dt.loc[:,['ID','Start_Time','State']]

C:\Users\asus\anaconda3\envs\test\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
dt

              ID           Start_Time State
0            A-1  2019-05-21 08:29:55    SC
1            A-2  2019-10-07 17:43:09    NC
2            A-3  2020-12-13 21:53:00    CA
3            A-4  2018-04-17 16:51:23    NV
4            A-5  2016-08-31 17:40:49    FL
...          ...                  ...   ...
346371  A-346372  2017-03-11 01:29:40    IL
346372  A-346373  2020-03-29 12:22:42    PA
346373  A-346374  2017-12-14 15:16:29    FL
346374  A-346375  2018-11-24 11:48:48    CA
346375  A-346376  2018-04-30 22:45:17   NaN

[346376 rows x 3 columns]

In [3]:
def year(string):
    return int(string[0:4])
dt['Year']=dt['Start_Time'].apply(lambda x: year(x))
dt = dt.dropna(subset=['State'])
dt

              ID           Start_Time State  Year
0            A-1  2019-05-21 08:29:55    SC  2019
1            A-2  2019-10-07 17:43:09    NC  2019
2            A-3  2020-12-13 21:53:00    CA  2020
3            A-4  2018-04-17 16:51:23    NV  2018
4            A-5  2016-08-31 17:40:49    FL  2016
...          ...                  ...   ...   ...
346370  A-346371  2020-03-23 05:48:30    CA  2020
346371  A-346372  2017-03-11 01:29:40    IL  2017
346372  A-346373  2020-03-29 12:22:42    PA  2020
346373  A-346374  2017-12-14 15:16:29    FL  2017
346374  A-346375  2018-11-24 11:48:48    CA  2018

[346375 rows x 4 columns]

In [4]:
dt.drop(['Start_Time'] , axis = 1 ,inplace = True)

C:\Users\asus\anaconda3\envs\test\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [5]:

dt['ID']=1
dt

<ipython-input-5-5a492976ebb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['ID']=1

        ID State  Year
0        1    SC  2019
1        1    NC  2019
2        1    CA  2020
3        1    NV  2018
4        1    FL  2016
...     ..   ...   ...
346370   1    CA  2020
346371   1    IL  2017
346372   1    PA  2020
346373   1    FL  2017
346374   1    CA  2018

[346375 rows x 3 columns]

In [6]:
dt = dt.groupby(['Year','State'] , as_index = False).count()

In [7]:
dt

     Year State     ID
0    2016    AL     11
1    2016    AR      2
2    2016    AZ    357
3    2016    CA  10421
4    2016    CO    159
..    ...   ...    ...
237  2020    VT     21
238  2020    WA   1138
239  2020    WI    298
240  2020    WV    157
241  2020    WY      2

[242 rows x 3 columns]

In [8]:
dt.rename(columns={'ID':'num'},inplace=True)

In [9]:
dt1=dt.groupby(['Year','State']).groups
t=dt.values.tolist()

In [10]:
map_data=[]
time=["2016年","2017年","2018年","2019年","2020年"]
value=[]
names=[]
for year,name,num in t:
    value.append([num,name])
    names.append(name)

In [11]:

name = list(set(names)) 
print(name)

['KS', 'ME', 'DE', 'FL', 'WA', 'UT', 'OK', 'IA', 'GA', 'WI', 'VA', 'MO', 'NH', 'TN', 'OR', 'OH', 'TX', 'WV', 'LA', 'MD', 'MT', 'NC', 'AR', 'CA', 'AL', 'RI', 'NJ', 'ID', 'MI', 'MS', 'ND', 'CT', 'IL', 'NM', 'MN', 'NV', 'MA', 'SC', 'SD', 'DC', 'NY', 'NE', 'AZ', 'WY', 'IN', 'VT', 'KY', 'CO', 'PA']

In [12]:
import itertools
keys=["name","value"]
data=(zip(keys,value))

In [13]:
for i in data:
    print(i)

('name', [11, 'AL'])
('value', [2, 'AR'])

In [14]:
from pyecharts import options as opts
from pyecharts.charts import Bar,Timeline,Map
from pyecharts.commons.utils import JsCode
from pyecharts.globals import ThemeType
map_data = [
    {
        "time": "2016年",
        "data": [
            {"name": "Alabama", "value": [11.0, 'Alabama']},
            {"name": "Arkansas", "value": [2.0, 'Arkansas']},
            {"name": "Arizona", "value": [357.0, "Arizona"]},
            {"name": "California", "value": [10421.0, "California"]},
            {"name": "Colorado", "value": [159.0, "Colorado"]},
            {"name": "Connecticut", "value": [377.0, "Connecticut"]},
            {"name": "District Of Columbia", "value": [39.0, "District Of Columbia"]},
            {"name": "Delaware", "value": [37.0, "Delaware"]},
            {"name": "Florida", "value": [2863.0, "Florida"]},
            {"name": "Georgia", "value": [992.0, "Georgia"]},
            {"name": "Iowa", "value": [167.0, "Iowa"]},
            {"name": "Idaho", "value": [57.0, "Idaho"]},
            {"name": "Illinois", "value": [1479.0, "Illinois"]},
            {"name": "Indiana", "value": [175.0, "Indiana"]},
            {"name": "Kansas", "value": [80.0, "Kansas"]},
            {"name": "KentucKentucky", "value": [128.0, "KentucKentucky"]},
            {"name": "Louisiana", "value": [121.0, "Louisiana"]},
            {"name": "Massachusetts", "value": [366.0, "Massachusetts"]},
            {"name": "Maryland", "value": [548.0, "Maryland"]},
            {"name": "Maine", "value": [14.0, "Maine"]},
            {"name": "Michigan", "value": [1180.0, "Michigan"]},
            {"name": "Minnesota", "value": [324.0, "Minnesota"]},
            {"name": "Missouri", "value": [417.0, "Missouri"]},
            {"name": "Mississippi", "value": [58.0, "Mississippi"]},
            {"name": "Montana", "value": [8.0, "Montana"]},
            {"name": "North Carolina", "value": [750.0, "North Carolina"]},
            {"name": "Nebraska", "value": [345.0, "Nebraska"]},
            {"name": "New Hampshire", "value": [28.0, "New Hampshire"]},
            {"name": "New Jersey", "value": [711.0, "New Jersey"]},
            {"name": "New Mexico", "value": [16.0, "New Mexico"]},
            {"name": "Nevada", "value": [169.0, "Nevada"]},
            {"name": "New York", "value": [1625.0, "New York"]},
            {"name": "Ohio", "value": [932.0, "Ohio"]},
            {"name": "Oklahoma", "value": [61.0, "Oklahoma"]},
            {"name": "Oregon", "value": [120.0, "Oregon"]},
            {"name": "Pennsylvania", "value": [1559.0, "Pennsylvania"]},
            {"name": "Rhode Island", "value": [125.0, "Rhode Island"]},
            {"name": "South Carolina", "value": [209.0, "South Carolina"]},
            {"name": "South Dakota", "value": [2.0, "South Dakota"]},
            {"name": "Tennessee", "value": [210.0, "Tennessee"]},
            {"name": "Texas", "value": [3578.0, "Texas"]},
            {"name": "Utah", "value": [100.0, "Utah"]},
            {"name": "Virginia", "value": [510.0, "Virginia"]},
            {"name": "Vermont", "value": [2.0, "Vermont"]},
            {"name": "Washington", "value": [748.0, "Washington"]},
            {"name": "Wisconsin", "value": [208.0, "Wisconsin"]},
            {"name": "West Virginia", "value": [44.0, "West Virginia"]},
            {"name": "Wyoming", "value": [7.0, "Wyoming"]},

        ],
    },
    {
        "time": "2017年",
         "data": [
            {"name": "Alabama", "value": [207.0, 'Alabama']},
            {"name": "Arkansas", "value": [12.0, 'Arkansas']},
            {"name": "Arizona", "value": [987.0, "Arizona"]},
            {"name": "California", "value": [11474.0, "California"]},
            {"name": "Colorado", "value": [573.0, "Colorado"]},
            {"name": "Connecticut", "value": [581.0, "Connecticut"]},
            {"name": "District Of Columbia", "value": [65.0, "District Of Columbia"]},
            {"name": "Delaware", "value": [71.0, "Delaware"]},
            {"name": "Florida", "value": [4601.0, "Florida"]},
            {"name": "Georgia", "value": [1641.0, "Georgia"]},
            {"name": "Iowa", "value": [242.0, "Iowa"]},
            {"name": "Idaho", "value": [39.0, "Idaho"]},
            {"name": "Illinois", "value": [2214.0, "Illinois"]},
            {"name": "Indiana", "value": [511.0, "Indiana"]},
            {"name": "Kansas", "value": [152.0, "Kansas"]},
            {"name": "KentucKentucky", "value": [254.0, "KentucKentucky"]},
            {"name": "Louisiana", "value": [744.0, "Louisiana"]},
            {"name": "Massachusetts", "value": [625.0, "Massachusetts"]},
            {"name": "Maryland", "value": [949.0, "Maryland"]},
            {"name": "Maine", "value": [63.0, "Maine"]},
            {"name": "Michigan", "value": [1984.0, "Michigan"]},
            {"name": "Minnesota", "value": [855.0, "Minnesota"]},
            {"name": "Missouri", "value": [660.0, "Missouri"]},
            {"name": "Mississippi", "value": [72.0, "Mississippi"]},
            {"name": "MY", "value": [15.0, "Montana"]},
            {"name": "North Carolina", "value": [2630.0, "North Carolina"]},
            {"name": "Nebraska", "value": [396.0, "Nebraska"]},
            {"name": "New Hampshire", "value": [179.0, "New Hampshire"]},
            {"name": "New Jersey", "value": [1133.0, "New Jersey"]},
            {"name": "New Mexico", "value": [72.0, "New Mexico"]},
            {"name": "Nevada", "value": [222.0, "Nevada"]},
            {"name": "New York", "value": [2733.0, "New York"]},
            {"name": "Ohio", "value": [1127.0, "Ohio"]},
            {"name": "Oklahoma", "value": [614.0, "Oklahoma"]},
            {"name": "Oregon", "value": [454.0, "Oregon"]},
            {"name": "Pennsylvania", "value": [1881.0, "Pennsylvania"]},
            {"name": "Rhode Island", "value": [222.0, "Rhode Island"]},
            {"name": "South Carolina", "value": [1791.0, "South Carolina"]},
            {"name": "South Dakota", "value": [1.0, "South Dakota"]},
            {"name": "Tennessee", "value": [803.0, "Tennessee"]},
            {"name": "Texas", "value": [5942.0, "Texas"]},
            {"name": "Utah", "value": [375.0, "Utah"]},
            {"name": "Virginia", "value": [1500.0, "Virginia"]},
            {"name": "Vermont", "value": [18.0, "Vermont"]},
            {"name": "Washington", "value": [1438.0, "Washington"]},
            {"name": "Wisconsin", "value": [362.0, "Wisconsin"]},
            {"name": "West Virginia", "value": [63.0, "West Virginia"]},
             {"name": "Wyoming", "value": [10.0, "Wyoming"]},

        ],
    },
    {
        "time": "2018年",
          "data": [
            {"name": "Alabama", "value": [837.0, 'Alabama']},
            {"name": "Arkansas", "value": [50.0, 'Arkansas']},
            {"name": "Arizona", "value": [1638.0, "Arizona"]},
            {"name": "California", "value": [11894.0, "California"]},
            {"name": "Colorado", "value": [1120.0, "Colorado"]},
            {"name": "Connecticut", "value": [463.0, "Connecticut"]},
            {"name": "District Of Columbia", "value": [95.0, "District Of Columbia"]},
            {"name": "Delaware", "value": [121.0, "Delaware"]},
            {"name": "Florida", "value": [4788.0, "Florida"]},
            {"name": "Georgia", "value": [1858.0, "Georgia"]},
            {"name": "Iowa", "value": [143.0, "Iowa"]},
            {"name": "Idaho", "value": [60.0, "Idaho"]},
            {"name": "Illinois", "value": [1928.0, "Illinois"]},
            {"name": "Indiana", "value": [898.0, "Indiana"]},
            {"name": "Kansas", "value": [192.0, "Kansas"]},
            {"name": "KentucKentucky", "value": [560.0, "KentucKentucky"]},
            {"name": "Louisiana", "value": [1280.0, "Louisiana"]},
            {"name": "Massachusetts", "value": [610.0, "Massachusetts"]},
            {"name": "Maryland", "value": [881.0, "Maryland"]},
            {"name": "Maine", "value": [86.0, "Maine"]},
            {"name": "Michigan", "value": [1760.0, "Michigan"]},
            {"name": "Minnesota", "value": [1309.0, "Minnesota"]},
            {"name": "Missouri", "value": [726.0, "Missouri"]},
            {"name": "Mississippi", "value": [195.0, "Mississippi"]},
            {"name": "Montana", "value": [11.0, "Montana"]},
            {"name": "North Carolina", "value": [3687.0, "North Carolina"]},
            {"name": "Nebraska", "value": [361.0, "Nebraska"]},
            {"name": "New Hampshire", "value": [243.0, "New Hampshire"]},
            {"name": "New Jersey", "value": [1179.0, "New Jersey"]},
            {"name": "New Mexico", "value": [146.0, "New Mexico"]},
            {"name": "Nevada", "value": [171.0, "Nevada"]},
            {"name": "New York", "value": [2653.0, "New York"]},
            {"name": "Ohio", "value": [1387.0, "Ohio"]},
            {"name": "Oklahoma", "value": [1251.0, "Oklahoma"]},
            {"name": "OR", "value": [2375.0, "OR"]},
            {"name": "Pennsylvania", "value": [1427.0, "Pennsylvania"]},
            {"name": "Rhode Island", "value": [237.0, "Rhode Island"]},
            {"name": "South Carolina", "value": [3408.0, "South Carolina"]},
            {"name": "South Dakota", "value": [3.0, "South Dakota"]},
            {"name": "Tennessee", "value": [1595.0, "Tennessee"]},
            {"name": "Texas", "value": [5686.0, "Texas"]},
            {"name": "Utah", "value": [877.0, "Utah"]},
            {"name": "Virginia", "value": [1996.0, "Virginia"]},
            {"name": "Vermont", "value": [11.0, "Vermont"]},
            {"name": "Washington", "value": [1400.0, "Washington"]},
            {"name": "Wisconsin", "value": [385.0, "Wisconsin"]},
            {"name": "West Virginia", "value": [64.0, "West Virginia"]},
             {"name": "Wyoming", "value": [15.0, "Wyoming"]},

        ],
    },
    {
        "time": "2019年",
         "data": [
            {"name": "Alabama", "value": [1202.0, 'Alabama']},
            {"name": "Arkansas", "value": [118.0, 'Arkansas']},
            {"name": "Arizona", "value": [1528.0, "Arizona"]},
            {"name": "California", "value": [20073.0, "California"]},
            {"name": "Colorado", "value": [573.0, "Colorado"]},
            {"name": "Connecticut", "value": [581.0, "Connecticut"]},
            {"name": "District Of Columbia", "value": [65.0, "District Of Columbia"]},
            {"name": "Delaware", "value": [71.0, "Delaware"]},
            {"name": "Florida", "value": [4601.0, "Florida"]},
            {"name": "Georgia", "value": [1641.0, "Georgia"]},
            {"name": "Iowa", "value": [242.0, "Iowa"]},
            {"name": "Idaho", "value": [39.0, "Idaho"]},
            {"name": "Illinois", "value": [2214.0, "Illinois"]},
            {"name": "Indiana", "value": [511.0, "Indiana"]},
            {"name": "Kansas", "value": [152.0, "Kansas"]},
            {"name": "Kentucky", "value": [254.0, "Kentucky"]},
            {"name": "Louisiana", "value": [744.0, "Louisiana"]},
            {"name": "Massachusetts", "value": [625.0, "Massachusetts"]},
            {"name": "Maryland", "value": [949.0, "Maryland"]},
            {"name": "Maine", "value": [63.0, "Maine"]},
            {"name": "Michigan", "value": [1984.0, "Michigan"]},
            {"name": "Minnesota", "value": [855.0, "Minnesota"]},
            {"name": "Missouri", "value": [660.0, "Missouri"]},
            {"name": "Mississippi", "value": [72.0, "Mississippi"]},
            {"name": "Montana", "value": [15.0, "Montana"]},
            {"name": "North Carolina", "value": [2630.0, "North Carolina"]},
            {"name": "Nebraska", "value": [396.0, "Nebraska"]},
            {"name": "New Hampshire", "value": [179.0, "New Hampshire"]},
            {"name": "New Jersey", "value": [1133.0, "New Jersey"]},
            {"name": "New Mexico", "value": [72.0, "New Mexico"]},
            {"name": "Nevada", "value": [222.0, "Nevada"]},
            {"name": "New York", "value": [2733.0, "New York"]},
            {"name": "Ohio", "value": [1127.0, "Ohio"]},
            {"name": "Oklahoma", "value": [614.0, "Oklahoma"]},
            {"name": "Oregon", "value": [454.0, "Oregon"]},
            {"name": "Pennsylvania", "value": [1881.0, "Pennsylvania"]},
            {"name": "Rhode Island", "value": [222.0, "Rhode Island"]},
            {"name": "South Carolina", "value": [1791.0, "South Carolina"]},
            {"name": "South Dakota", "value": [1.0, "South Dakota"]},
            {"name": "Tennessee", "value": [803.0, "Tennessee"]},
            {"name": "Texas", "value": [5942.0, "Texas"]},
            {"name": "Utah", "value": [375.0, "Utah"]},
            {"name": "Virginia", "value": [1500.0, "Virginia"]},
            {"name": "Vermont", "value": [18.0, "Vermont"]},
            {"name": "Washington", "value": [1438.0, "Washington"]},
            {"name": "Wisconsin", "value": [362.0, "Wisconsin"]},
            {"name": "West Virginia", "value": [63.0, "West Virginia"]},
             {"name": "Wyoming", "value": [10.0, "Wyoming"]},

        ],
    },

    {
        "time": "2020年",
          "data": [
            {"name": "Alabama", "value": [207.0, 'Alabama']},
            {"name": "Arkansas", "value": [12.0, 'Arkansas']},
            {"name": "Arizona", "value": [987.0, "Arizona"]},
            {"name": "California", "value": [11474.0, "California"]},
            {"name": "Colorado", "value": [573.0, "Colorado"]},
            {"name": "Connecticut", "value": [581.0, "Connecticut"]},
            {"name": "District Of Columbia", "value": [65.0, "District Of Columbia"]},
            {"name": "Delaware", "value": [71.0, "Delaware"]},
            {"name": "Florida", "value": [4601.0, "Florida"]},
            {"name": "Georgia", "value": [1641.0, "Georgia"]},
            {"name": "Iowa", "value": [242.0, "Iowa"]},
            {"name": "Idaho", "value": [39.0, "Idaho"]},
            {"name": "Illinois", "value": [2214.0, "Illinois"]},
            {"name": "Indiana", "value": [511.0, "Indiana"]},
            {"name": "Kansas", "value": [152.0, "Kansas"]},
            {"name": "KentucKentucky", "value": [254.0, "KentucKentucky"]},
            {"name": "Louisiana", "value": [744.0, "Louisiana"]},
            {"name": "Massachusetts", "value": [625.0, "Massachusetts"]},
            {"name": "Maryland", "value": [949.0, "Maryland"]},
            {"name": "Maine", "value": [63.0, "Maine"]},
            {"name": "Michigan", "value": [1984.0, "Michigan"]},
            {"name": "Minnesota", "value": [855.0, "Minnesota"]},
            {"name": "Missouri", "value": [660.0, "Missouri"]},
            {"name": "Mississippi", "value": [72.0, "Mississippi"]},
            {"name": "Montana", "value": [15.0, "Montana"]},
            {"name": "North Carolina", "value": [2630.0, "North Carolina"]},
            {"name": "Nebraska", "value": [396.0, "Nebraska"]},
            {"name": "New Hampshire", "value": [179.0, "New Hampshire"]},
            {"name": "New Jersey", "value": [1133.0, "New Jersey"]},
            {"name": "New Mexico", "value": [72.0, "New Mexico"]},
            {"name": "Nevada", "value": [222.0, "Nevada"]},
            {"name": "New York", "value": [2733.0, "New York"]},
            {"name": "Ohio", "value": [1127.0, "Ohio"]},
            {"name": "Oklahoma", "value": [614.0, "Oklahoma"]},
            {"name": "Oregon", "value": [454.0, "Oregon"]},
            {"name": "Pennsylvania", "value": [1881.0, "Pennsylvania"]},
            {"name": "Rhode Island", "value": [222.0, "Rhode Island"]},
            {"name": "South Carolina", "value": [1791.0, "South Carolina"]},
            {"name": "South Dakota", "value": [1.0, "South Dakota"]},
            {"name": "Tennessee", "value": [803.0, "Tennessee"]},
            {"name": "Texas", "value": [5942.0, "Texas"]},
            {"name": "Utah", "value": [375.0, "Utah"]},
            {"name": "Virginia", "value": [1500.0, "Virginia"]},
            {"name": "Vermont", "value": [18.0, "Vermont"]},
            {"name": "Washington", "value": [1438.0, "Washington"]},
            {"name": "Wisconsin", "value": [362.0, "Wisconsin"]},
            {"name": "West Virginia", "value": [63.0, "West Virginia"]},
             {"name": "Wyoming", "value": [10.0, "Wyoming"]},

        ],
    },
]

In [30]:

from pyecharts.datasets import register_url
register_url("https://echarts-maps.github.io/echarts-countries-js/")
from pyecharts import options as opts
from pyecharts.charts import Map, Timeline
from pyecharts.faker import Faker

tl = Timeline(    # 设置画布大小，主题
        init_opts=opts.InitOpts(width="1230px", height="580px",theme=ThemeType.PURPLE_PASSION)
    )
for i in range(2016, 2021):
    data=[[[x["name"], x["value"]] for x in d["data"]] for d in map_data if d["time"] == f'{i}年'][0]
    map0 = (
        Map()
        .add("美国", data, maptype="美国")
        .set_global_opts(
            title_opts=opts.TitleOpts(title="美国各州 {} 发生的交通事故数量".format(i),
                                     
                    pos_top="top",
                                      title_textstyle_opts=opts.TextStyleOpts(
                        font_size='25',
                        color="rgba(155,155,155,0.9)"
                    )
                ),
            visualmap_opts=opts.VisualMapOpts(dimension=0,max_=max([num[1][0] for num in data]),min_=min([num[1][0] for num in data]),range_text=['High','Low'],
                        textstyle_opts=opts.TextStyleOpts(
                        color="rgba(0,0,0,0.5)",  # 文字颜色
                        font_size=15
                    )),
        )
    )
    tl.add(map0, "{} 年".format(i))
tl.render("map.html")

'D:\\mycode\\Untitled Folder\\code\\map.html'

柱状图

In [31]:
t2 = Timeline(    # 设置画布大小，主题
        init_opts=opts.InitOpts(width="1230px", height="580px", theme=ThemeType.PURPLE_PASSION)
    )
for i in range(2016, 2021):
    data=[[[x["name"], x["value"]] for x in d["data"]] for d in map_data if d["time"] == f'{i}年'][0][::-1]
    chart_bar = (
        Bar().add_xaxis(
            # 格式为[1,2,3,4,5]
            [item[0] for item in data]  # 传入x轴的数据
        ).add_yaxis(
            series_name="",  # 系列名称
            y_axis=[item[1][0] for item in data],  # y轴的数据
            label_opts=opts.LabelOpts(
                font_size=9,
                # 标签配置
                position='right',  # 标签显示的位置，inside，ledt，top，bottom
                formatter="{b}: {c}"  # 标签显示的格式
            )).reversal_axis()  # x轴y轴倒置
        .set_global_opts(
            # 不显示坐标轴的 标签
            xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(
                is_show=False)),
            yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(
                is_show=False)),
            tooltip_opts=opts.TooltipOpts(is_show=False),  # 关闭提示
             title_opts=opts.TitleOpts(
                title='美国各州'+str(i)+'年发生的交通事故数量',
                pos_top='top',
                pos_left='center',
                title_textstyle_opts=opts.TextStyleOpts(
                    font_size=35,
                    color="rgba(0,155,155,0.9)"
                ),
            ),
            visualmap_opts=opts.VisualMapOpts(
                is_calculable=True,  # 显示组件拖拽手柄
                dimension=0,
                pos_left='0%',  # 组件位置
                pos_bottom='15%',  # 组件位置
                range_text=['max', 'min'],  # 组件两端的文本
                range_color=["lightskyblue", "yellow", "orangered"],  # 组件过渡颜色
                max_=max([num[1][0] for num in data]),
                min_=min([num[1][0] for num in data]),
                textstyle_opts=opts.TextStyleOpts(
                    color="rgba(0,0,0,0.5)",  # 文字颜色
                    #font_size=10
                ),
            ),
        ))
    t2.add(chart_bar, "{} 年".format(i))
t2.render("bar.html")

'D:\\mycode\\Untitled Folder\\code\\bar.html'

整合代码

In [27]:
import pandas as pd

from pyecharts import options as opts
from pyecharts.globals import ThemeType
from pyecharts.charts import Timeline, Bar, Map, Pie, Grid
t1 = Timeline(    # 设置画布大小，主题
        init_opts=opts.InitOpts(width="1230px", height="580px", theme=ThemeType.PURPLE_PASSION)
    )
for i in range(2016, 2021):
    data=[[[x["name"], x["value"]] for x in d["data"]] for d in map_data if d["time"] == f'{i}年'][0]
    map0 = (
        Map()
        .add("", data, maptype="美国",label_opts=opts.LabelOpts(
                    is_show=False # 不显示地名
                ),)
        .set_global_opts(
            visualmap_opts=opts.VisualMapOpts(dimension=0,max_=max([num[1][0] for num in data]),min_=min([num[1][0] for num in data]),range_text=['High','Low'],
                        textstyle_opts=opts.TextStyleOpts(
                        color="rgba(0,0,0,0.5)",  # 文字颜色
                        font_size=15
                    )),
        )
    )
    chart_bar = (
        Bar().add_xaxis(
            # 格式为[1,2,3,4,5]
            [item[0] for item in data]  # 传入x轴的数据
        ).add_yaxis(
            series_name="",  # 系列名称
            y_axis=[item[1][0] for item in data],  # y轴的数据
            label_opts=opts.LabelOpts(
                font_size=9,
                # 标签配置
                position='right',  # 标签显示的位置，inside，ledt，top，bottom
                formatter="{b}: {c}"  # 标签显示的格式
            )).reversal_axis()  # x轴y轴倒置
        .set_global_opts(
            # 不显示坐标轴的 标签
            xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(
                is_show=False)),
            yaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(
                is_show=False)),
            tooltip_opts=opts.TooltipOpts(is_show=False),  # 关闭提示
             title_opts=opts.TitleOpts(
                title='美国各州'+str(i)+'年发生的交通事故数量',
                pos_top='top',
                pos_left='center',
                title_textstyle_opts=opts.TextStyleOpts(
                    font_size=35,
                    color="rgba(0,155,155,0.9)"
                ),
            ),
            visualmap_opts=opts.VisualMapOpts(
                is_calculable=True,  # 显示组件拖拽手柄
                dimension=0,
                pos_left='0%',  # 组件位置
                pos_bottom='66%',  # 组件位置
                range_text=['max', 'min'],  # 组件两端的文本
                range_color=["lightskyblue", "yellow", "orangered"],  # 组件过渡颜色
                max_=max([num[1][0] for num in data]),
                min_=min([num[1][0] for num in data]),
                textstyle_opts=opts.TextStyleOpts(
                    color="rgba(0,0。5,0,0.5)",  # 文字颜色
                    #font_size=10
                ),
            ),
        ))
    
    pie_data = [[x[0], x[1][0]] for x in data]
    pie_chart = (
        Pie()
            .add(
                series_name="",
                data_pair=pie_data,
                radius=["10%", "20%"],  # 半径大小，相对整个画布高宽的一半，数组的第一项是内半径，第二项是外半径
                center=["90%", "65%"],  # 位置，相对整个画布来说
                itemstyle_opts=opts.ItemStyleOpts(
                    border_width=1, border_color="rgba(0,0,0,0.3)"
                ),
            )
            .set_global_opts(
                tooltip_opts=opts.TooltipOpts(is_show=True, formatter="{b} {d}%"),  # 显示的格式
                legend_opts=opts.LegendOpts(is_show=False),
            )
    )
    grid_chart = (
        Grid()
            .add(chart_bar, grid_opts=opts.GridOpts(pos_left="0", pos_right="40%", pos_top="34%", pos_bottom="40"))
            .add(pie_chart, grid_opts=opts.GridOpts())
            .add(map0, grid_opts=opts.GridOpts())
    )
    t1.add(grid_chart, "{} 年".format(i))
t1.render("grid.html")

'D:\\mycode\\Untitled Folder\\code\\grid.html'